//float grid

//====CUSTOMIZE=====//

//grid
$columns: 12;
$gutter: 0.9375rem;
$gutter-init: 0;

//media only screen point
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

//media mixin

@mixin retina {
  @media all and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 120dpi),
  (min-resolution: 1.2dppx) {
    @content;
  }

}

@mixin lg {
  @media all and (max-width: $lg) {
    @content;
  }

}

@mixin sm {
  @media all and (max-width: $sm) {
    @content;
  }

}

@mixin md {
  @media all and (max-width: $md) {
    @content;
  }

}

@mixin xs {
  @media all and (max-width: $xs) {
    @content;
  }

}

@mixin lg-to-md {
  @media all and (max-width: $lg) and(min-width: $md) {
    @content;
  }

}

@mixin md-to-sm {
  @media all and (max-width: $md) and(min-width: $sm) {
    @content;
  }

}

@mixin sm-to-xs {
  @media all and (max-width: $sm) and(min-width: $xs) {
    @content;
  }

}

//container-max-width
$c-lg: 1140;
$c-md: 960;
$c-sm: 720;
$c-xs: 540;

//container always container
.container {
  max-width: $c-lg +px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  @include clearfix;

}

@include lg {
  .container {
    max-width: $c-md + px;
  }

}

@include md {
  .container {
    max-width: $c-sm + px;
  }

}

@include sm {
  .container {
    max-width: $c-xs + px;
  }
}

@include xs {
  .container {
    max-width: 90%;
  }
}

//float grid
.row {
  @include clearfix;
}

div[class^="col-"] {
  position: relative;
  min-height: 1px;
  float: left;
  padding-left: $gutter-init;
  padding-right: $gutter-init;
}

.row-with-gutter {
  margin-left: - $gutter;
  margin-right: - $gutter;
  @include clearfix;
  div[class*="col-"] {
    padding-left: $gutter;
    padding-right: $gutter;

  }
}

//media for columns
@for $i from 1 through $columns {
  //column
  .col-#{$i} {
    width: ((100 / $columns) * $i) * 1%

  }
}

@for $i from 1 through $columns {
  //offset
  .col-offset-#{$i} {
    margin-left: ((100 / $columns) * $i) * 1%

  }

}

//order
@for $i from 1 through $columns {

  .col-pull-#{$i} {
    right: ((100 / $columns) * $i) * 1%

  }
}

@for $i from 1 through $columns {

  .col-push-#{$i} {
    left: ((100 / $columns) * $i) * 1%

  }
}

//large screen

@include lg {
  //column
  @for $i from 1 through $columns {

    .col-lg-#{$i} {
      width: ((100 / $columns) * $i) * 1%

    }
  }
}

@include lg-to-md {
  //offset
  @for $i from 1 through $columns {

    .col-lg-offset-#{$i} {
      margin-left: ((100 / $columns) * $i) * 1%

    }

  }
}

//order
@include lg-to-md {
  @for $i from 1 through $columns {

    .col-lg-pull-#{$i} {
      right: ((100 / $columns) * $i) * 1%

    }

  }
}

@include lg-to-md {
  @for $i from 1 through $columns {

    .col-lg-push-#{$i} {
      left: ((100 / $columns) * $i) * 1%

    }
  }
}

//medium screen
@include md {
  //column
  @for $i from 1 through $columns {

    .col-md-#{$i} {
      width: ((100 / $columns) * $i) * 1%

    }

  }
}

@include md-to-sm {
  //offset
  @for $i from 1 through $columns {

    .col-md-offset-#{$i} {
      margin-left: ((100 / $columns) * $i) * 1%

    }

  }
}

//order
@include md-to-sm {

  @for $i from 1 through $columns {

    .col-md-pull-#{$i} {
      right: ((100 / $columns) * $i) * 1%

    }

  }
}

@include md-to-sm {

  @for $i from 1 through $columns {

    .col-md-push-#{$i} {
      left: ((100 / $columns) * $i) * 1%

    }
  }
}

//small screen
@include sm {
  //column
  @for $i from 1 through $columns {

    .col-sm-#{$i} {
      width: ((100 / $columns) * $i) * 1%

    }

  }

}

//offset
@include sm-to-xs {
  @for $i from 1 through $columns {

    .col-sm-offset-#{$i} {
      margin-left: ((100 / $columns) * $i) * 1%

    }

  }

}

//order
@include sm-to-xs {
  @for $i from 1 through $columns {

    .col-sm-pull-#{$i} {
      right: ((100 / $columns) * $i) * 1%

    }

  }

}

@include sm-to-xs {
  @for $i from 1 through $columns {

    .col-sm-push-#{$i} {
      left: ((100 / $columns) * $i) * 1%

    }
  }

}

//full size
@include xs {
  div[class^="col-"] {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

}

