html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body, html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

img, fieldset, a img {
  border: none;
}

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: 80%;
}

a {
  background-color: transparent;
}
a:hover, a:active {
  outline: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 1024px;
  }
}
@media only screen and (max-width: 960px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 1120px) {
  .container {
    max-width: 718px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

div[class*="col-"] {
  position: relative;
  min-height: 1px;
  float: left;
  padding-left: 0;
  padding-right: 0;
}

.row-with-gutter {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
}
.row-with-gutter:before, .row-with-gutter:after {
  content: "";
  display: table;
}
.row-with-gutter:after {
  clear: both;
}
.row-with-gutter div[class*="col-"] {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.col-lg-1 {
  width: 8.3333333333%;
}

.col-lg-offset-1 {
  margin-left: 8.3333333333%;
}

.col-lg-pull-1 {
  right: 8.3333333333%;
}

.col-lg-push-1 {
  left: 8.3333333333%;
}

.col-lg-2 {
  width: 16.6666666667%;
}

.col-lg-offset-2 {
  margin-left: 16.6666666667%;
}

.col-lg-pull-2 {
  right: 16.6666666667%;
}

.col-lg-push-2 {
  left: 16.6666666667%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-offset-3 {
  margin-left: 25%;
}

.col-lg-pull-3 {
  right: 25%;
}

.col-lg-push-3 {
  left: 25%;
}

.col-lg-4 {
  width: 33.3333333333%;
}

.col-lg-offset-4 {
  margin-left: 33.3333333333%;
}

.col-lg-pull-4 {
  right: 33.3333333333%;
}

.col-lg-push-4 {
  left: 33.3333333333%;
}

.col-lg-5 {
  width: 41.6666666667%;
}

.col-lg-offset-5 {
  margin-left: 41.6666666667%;
}

.col-lg-pull-5 {
  right: 41.6666666667%;
}

.col-lg-push-5 {
  left: 41.6666666667%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-offset-6 {
  margin-left: 50%;
}

.col-lg-pull-6 {
  right: 50%;
}

.col-lg-push-6 {
  left: 50%;
}

.col-lg-7 {
  width: 58.3333333333%;
}

.col-lg-offset-7 {
  margin-left: 58.3333333333%;
}

.col-lg-pull-7 {
  right: 58.3333333333%;
}

.col-lg-push-7 {
  left: 58.3333333333%;
}

.col-lg-8 {
  width: 66.6666666667%;
}

.col-lg-offset-8 {
  margin-left: 66.6666666667%;
}

.col-lg-pull-8 {
  right: 66.6666666667%;
}

.col-lg-push-8 {
  left: 66.6666666667%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-offset-9 {
  margin-left: 75%;
}

.col-lg-pull-9 {
  right: 75%;
}

.col-lg-push-9 {
  left: 75%;
}

.col-lg-10 {
  width: 83.3333333333%;
}

.col-lg-offset-10 {
  margin-left: 83.3333333333%;
}

.col-lg-pull-10 {
  right: 83.3333333333%;
}

.col-lg-push-10 {
  left: 83.3333333333%;
}

.col-lg-11 {
  width: 91.6666666667%;
}

.col-lg-offset-11 {
  margin-left: 91.6666666667%;
}

.col-lg-pull-11 {
  right: 91.6666666667%;
}

.col-lg-push-11 {
  left: 91.6666666667%;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-offset-12 {
  margin-left: 100%;
}

.col-lg-pull-12 {
  right: 100%;
}

.col-lg-push-12 {
  left: 100%;
}

@media only screen and (max-width: 1120px) and (min-width: 960px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-pull-1 {
    right: 8.3333333333%;
  }

  .col-md-push-1 {
    left: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-pull-2 {
    right: 16.6666666667%;
  }

  .col-md-push-2 {
    left: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-pull-4 {
    right: 33.3333333333%;
  }

  .col-md-push-4 {
    left: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-pull-5 {
    right: 41.6666666667%;
  }

  .col-md-push-5 {
    left: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-pull-7 {
    right: 58.3333333333%;
  }

  .col-md-push-7 {
    left: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-pull-8 {
    right: 66.6666666667%;
  }

  .col-md-push-8 {
    left: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-pull-10 {
    right: 83.3333333333%;
  }

  .col-md-push-10 {
    left: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-pull-11 {
    right: 91.6666666667%;
  }

  .col-md-push-11 {
    left: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-12 {
    left: 100%;
  }
}
@media only screen and (max-width: 960px) and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-pull-1 {
    right: 8.3333333333%;
  }

  .col-sm-push-1 {
    left: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-pull-2 {
    right: 16.6666666667%;
  }

  .col-sm-push-2 {
    left: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-pull-4 {
    right: 33.3333333333%;
  }

  .col-sm-push-4 {
    left: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-pull-5 {
    right: 41.6666666667%;
  }

  .col-sm-push-5 {
    left: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-pull-7 {
    right: 58.3333333333%;
  }

  .col-sm-push-7 {
    left: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-pull-8 {
    right: 66.6666666667%;
  }

  .col-sm-push-8 {
    left: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-pull-10 {
    right: 83.3333333333%;
  }

  .col-sm-push-10 {
    left: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-pull-11 {
    right: 91.6666666667%;
  }

  .col-sm-push-11 {
    left: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-12 {
    left: 100%;
  }
}
@media only screen and (max-width: 768px) {
  div[class*="col-"] {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
html, body {
  line-height: 2.5em;
  font-size: 16px;
}

@media only screen and (max-width: 1120px) {
  html, body {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 960px) {
  html, body {
    font-size: 12px !important;
  }
}
a {
  color: #000;
  cursor: pointer;
}
a:hover {
  color: #ccc;
  text-decoration: none;
}
a:active {
  color: #f4f4f4;
}

p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 15px;
}

.center-text {
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-row-around {
  justify-content: space-around;
}

.flex-row-between {
  justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .flex-row-lg-around {
    justify-content: space-around;
  }

  .flex-row-lg-between {
    justify-content: space-between;
  }

  .flex-lg-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(8.3333333333% - 0.9375rem);
  }

  .flex-lg-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(16.6666666667% - 0.9375rem);
  }

  .flex-lg-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 0.9375rem);
  }

  .flex-lg-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 0.9375rem);
  }

  .flex-lg-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(41.6666666667% - 0.9375rem);
  }

  .flex-lg-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 0.9375rem);
  }

  .flex-lg-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(58.3333333333% - 0.9375rem);
  }

  .flex-lg-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6666666667% - 0.9375rem);
  }

  .flex-lg-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75% - 0.9375rem);
  }

  .flex-lg-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(83.3333333333% - 0.9375rem);
  }

  .flex-lg-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(91.6666666667% - 0.9375rem);
  }

  .flex-lg-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 0.9375rem);
  }
}
@media only screen and (max-width: 1120px) {
  .flex-row-md-around {
    justify-content: space-around;
  }

  .flex-row-md-between {
    justify-content: space-between;
  }

  .flex-md-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(8.3333333333% - 0.9375rem);
  }

  .flex-md-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(16.6666666667% - 0.9375rem);
  }

  .flex-md-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 0.9375rem);
  }

  .flex-md-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 0.9375rem);
  }

  .flex-md-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(41.6666666667% - 0.9375rem);
  }

  .flex-md-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 0.9375rem);
  }

  .flex-md-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(58.3333333333% - 0.9375rem);
  }

  .flex-md-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6666666667% - 0.9375rem);
  }

  .flex-md-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75% - 0.9375rem);
  }

  .flex-md-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(83.3333333333% - 0.9375rem);
  }

  .flex-md-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(91.6666666667% - 0.9375rem);
  }

  .flex-md-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 0.9375rem);
  }
}
@media only screen and (max-width: 960px) {
  .flex-row-sm-around {
    justify-content: space-around;
  }

  .flex-sm-between {
    justify-content: space-between;
  }

  .flex-sm-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(8.3333333333% - 0.9375rem);
  }

  .flex-sm-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(16.6666666667% - 0.9375rem);
  }

  .flex-sm-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 0.9375rem);
  }

  .flex-sm-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 0.9375rem);
  }

  .flex-sm-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(41.6666666667% - 0.9375rem);
  }

  .flex-sm-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 0.9375rem);
  }

  .flex-sm-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(58.3333333333% - 0.9375rem);
  }

  .flex-sm-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6666666667% - 0.9375rem);
  }

  .flex-sm-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75% - 0.9375rem);
  }

  .flex-sm-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(83.3333333333% - 0.9375rem);
  }

  .flex-sm-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(91.6666666667% - 0.9375rem);
  }

  .flex-sm-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 0.9375rem);
  }
}
@media only screen and (max-width: 768px) {
  .flex-row-xs-around {
    justify-content: space-around;
  }

  .flex-xs-between {
    justify-content: space-between;
  }

  .flex-xs-1 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(8.3333333333% - 0.9375rem);
  }

  .flex-xs-2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(16.6666666667% - 0.9375rem);
  }

  .flex-xs-3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 0.9375rem);
  }

  .flex-xs-4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.3333333333% - 0.9375rem);
  }

  .flex-xs-5 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(41.6666666667% - 0.9375rem);
  }

  .flex-xs-6 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 0.9375rem);
  }

  .flex-xs-7 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(58.3333333333% - 0.9375rem);
  }

  .flex-xs-8 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(66.6666666667% - 0.9375rem);
  }

  .flex-xs-9 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(75% - 0.9375rem);
  }

  .flex-xs-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(83.3333333333% - 0.9375rem);
  }

  .flex-xs-11 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(91.6666666667% - 0.9375rem);
  }

  .flex-xs-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 0.9375rem);
  }
}
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora-regular-webfont.eot");
  src: url("../fonts/lora-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora-regular-webfont.woff") format("woff"), url("../fonts/lora-regular-webfont.ttf") format("truetype"), url("../fonts/lora-regular-webfont.svg#loraregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  filter: alpha(opactiy=60);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #ccc;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

.checkbox-group, .radio-group {
  margin-bottom: 10px;
}

.form-field {
  margin: 16px 0 24px;
  position: relative;
}
.form-field input + label {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: block;
  position: absolute;
  top: -16px;
  color: rgba(153, 0, 0, 0.8);
  font-size: 14px;
  padding: 0 10px;
}
.form-field input + label.show {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input[type="search"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], textarea {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 5px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
input[type="search"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
  -moz-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
}
input[type="search"]:invalid, input[type="search"].error, input[type="text"]:invalid, input[type="text"].error, input[type="password"]:invalid, input[type="password"].error, input[type="tel"]:invalid, input[type="tel"].error, input[type="email"]:invalid, input[type="email"].error, input[type="url"]:invalid, input[type="url"].error, textarea:invalid, textarea.error {
  border: 1px solid #990000;
  background-color: rgba(153, 0, 0, 0.05);
}
input[type="search"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #ddd;
}
input[type="search"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, textarea:-moz-placeholder {
  font-size: 16px;
  color: #ddd;
}
input[type="search"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 16px;
  color: #ddd;
}
input[type="search"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #ddd;
}
input[type="search"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="url"]::placeholder, textarea::placeholder {
  font-size: 16px;
  color: #ddd;
}

button, input[type="submit"], input[type="reset"], input[type="button"] {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 2.5em;
  font-family: "loraregular";
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  background-color: #990000;
  cursor: default;
  color: #fff;
  -moz-border-radius: 0.365em;
  -webkit-border-radius: 0.365em;
  border-radius: 0.365em;
}
button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  -moz-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
}
button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border-bottom: 3px solid #990000;
}
button:visited, input[type="submit"]:visited, input[type="reset"]:visited, input[type="button"]:visited {
  color: #fff;
}

.upload-group {
  margin-bottom: 10px;
}

.file-upload {
  display: inline-block;
  width: 100%;
  min-height: 20px;
  position: relative;
  overflow: hidden;
}
.file-upload input[type="file"] {
  display: none;
}
.file-upload label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.file-upload span {
  display: block;
  color: #000;
  text-decoration: underline;
}
.file-upload span:hover {
  color: #ccc;
}
.file-upload span:active {
  color: #f4f4f4;
}

.img-preview img {
  max-width: 150px;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  min-height: 180px;
  resize: vertical;
}

.navigation {
  text-align: center;
  margin-top: 50px;
}

.test-fluid-bg {
  background: url("../img/test-fluid-bg.jpg") no-repeat center;
  position: relative;
  background-size: contain;
}
.test-fluid-bg:before {
  content: '';
  display: block;
  padding-top: 56.0473815461%;
  height: 0;
}
.test-fluid-bg > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.test-vertical-middle {
  height: 300px;
  background-color: #ccc;
  white-space: nowrap;
  text-align: center;
  font-size: 0;
}
.test-vertical-middle:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.test-vertical-middle .inner {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  font-size: 16px;
  width: 130px;
  padding: 0 10px;
  background-color: #fff;
}

.test-inline-block-justify {
  text-align: justify;
  line-height: 0;
  font-size: 0;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
  background-color: #ddd;
}
.test-inline-block-justify:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.test-inline-block-justify .inner {
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  background-color: #fff;
  padding: 20px 15px;
  width: 30%;
  vertical-align: top;
  text-justify: auto;
  text-align-last: auto;
  text-align: left;
}

@media all and (max-width: 600px) {
  .test-inline-block-justify .inner {
    width: 40%;
  }
}
.test-table-cell {
  padding: 20px 30px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.test-table-cell .wrap {
  background-color: #f4f4f4;
  display: table-cell;
  vertical-align: top;
  padding: 10px;
  width: 50%;
}
.test-table-cell .inner {
  display: table-cell;
  vertical-align: top;
  background-color: #ccc;
  padding: 20px;
  width: 25%;
}

@media all and (max-width: 600px) {
  .test-table-cell .wrap {
    display: table;
    width: 100%;
  }
  .test-table-cell .inner {
    width: 50%;
  }
}
.test-center-translate {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #f4f4f4;
}
.test-center-translate .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #ddd;
}

.test-center-margin {
  max-width: 1200px;
  margin: 0 auto;
}
.test-center-margin .wrap {
  position: relative;
}
.test-center-margin .wrap:before {
  content: '';
  display: block;
  padding-top: 300px;
  height: 0;
}
.test-center-margin .inner {
  width: 600px;
  height: 100%;
  bottom: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  border: 1px solid;
  padding: 30px;
}
.test-center-margin .inner span {
  width: 100px;
  height: 63px;
  position: absolute;
  right: -45px;
  top: 140px;
  background-color: #f4f4f4;
}
.test-center-margin img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -150px;
}

.test-absolute-link {
  position: relative;
  height: 300px;
  text-align: center;
  line-height: 300px;
}
.test-absolute-link div {
  background-color: #ddd;
}
.test-absolute-link a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.test-prefix {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
}
.test-prefix .inner-1 {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.test-prefix .inner-2 {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.test-prefix .inner-3 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.test-prefix-1 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 60px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 60px -10px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 0px 60px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 60px -10px rgba(0, 0, 0, 0.75);
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
  background: url("../img/test-prefix.jpg") no-repeat center;
  background-color: #000;
  -moz-background-size: 40% 50%;
  -webkit-background-size: 40% 50%;
  -o-background-size: 40% 50%;
  background-size: 40% 50%;
}
.test-prefix-1:hover {
  width: 200px;
}

.test-prefix-2 {
  -moz-text-shadow: 3px 0px 1px rgba(255, 0, 0, 0.75);
  -webkit-text-shadow: 3px 0px 1px rgba(255, 0, 0, 0.75);
  -o-text-shadow: 3px 0px 1px rgba(255, 0, 0, 0.75);
  text-shadow: 3px 0px 1px rgba(255, 0, 0, 0.75);
  min-height: 300px;
  color: #fff;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  background-color: #f4f4f4;
}
.test-prefix-2:before {
  content: ' ';
  position: absolute;
  top: 100px;
  left: 100px;
  width: 50px;
  height: 30px;
  display: block;
  background-color: #fff;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opactiy=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.test-prefix-2 .inner {
  background: url("../img/test-prefix.jpg") no-repeat center;
  background-color: #f4f4f4;
  padding: 50px;
  margin: 50px;
  border: 10px dashed #ddd;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.test-prefix-2 .inner:hover {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.test-td-dot {
  width: 300px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #f4f4f4;
}
.test-td-dot p {
  position: relative;
  overflow: hidden;
}
.test-td-dot p.property:before {
  content: ' ';
  position: absolute;
  top: auto;
  left: 0;
  width: 100%;
  height: 1px;
  display: block;
  z-index: 0;
  bottom: 4px;
  border-bottom: 2px dotted #ccc;
}
.test-td-dot p span {
  position: relative;
  z-index: 1;
  left: 0;
  background-color: #f4f4f4;
  padding-right: 2px;
}
.test-td-dot p b {
  position: absolute;
  z-index: 2;
  right: 0;
  background-color: #f4f4f4;
  padding-left: 3px;
}

.test-no-number-list {
  background-color: #f4f4f4;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
}
.test-no-number-list ul li {
  position: relative;
  padding-left: 20px;
}
.test-no-number-list ul li:before {
  content: ' ';
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #990000;
}

.test-number-list {
  background-color: #ddd;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
}
.test-number-list ol {
  counter-reset: li;
}
.test-number-list ol li {
  position: relative;
  padding-left: 20px;
}
.test-number-list ol li:before {
  content: counter(li) ")";
  counter-increment: li;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #990000;
}

.test-sprite {
  margin: 0 auto;
  width: 200px;
  background-color: #fff;
  padding: 60px 20px;
}
.test-sprite span {
  cursor: pointer;
  background-image: url("../img/test-sprite.png");
}

.icon-f {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: 0px 0px;
}
.icon-f:hover {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: 0px 27px;
}

.icon-g {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -27px 0px;
}
.icon-g:hover {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -27px 27px;
}

.icon-i {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -54px 0px;
}
.icon-i:hover {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -54px 27px;
}

.icon-o {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -81px 0px;
}
.icon-o:hover {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -81px 27px;
}

.icon-s {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -108px 0px;
}
.icon-s:hover {
  width: 27px;
  height: 27px;
  display: inline-block;
  background-position: -108px 27px;
}

.test-triangle {
  background-color: #ccc;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}
.test-triangle .close-icon {
  position: absolute;
  top: 0;
  right: 10px;
}
.test-triangle .close-icon:before {
  top: 0;
  left: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 10px 10px 0;
  border-color: transparent #990000 transparent transparent;
}
.test-triangle .close-icon:after {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 10px 10px 0;
  border-color: transparent #ccc transparent transparent;
}
.test-triangle .close-icon span {
  position: absolute;
}
.test-triangle .close-icon span:before {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #990000;
  top: 0;
  right: -1px;
}
.test-triangle .close-icon span:after {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ccc;
  top: 0;
  right: 0;
}
.test-triangle .top {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #990000 transparent;
  top: 20px;
  left: 0;
}
.test-triangle .right {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #990000;
  top: 40px;
  left: 0;
}
.test-triangle .bottom {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 10px 0 10px;
  border-color: #990000 transparent transparent transparent;
  top: 60px;
  left: 0;
}
.test-triangle .left {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 20px 10px 0;
  border-color: transparent #990000 transparent transparent;
  top: 80px;
  left: 0;
}
.test-triangle .top-left {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 20px 0 0;
  border-color: #990000 transparent transparent transparent;
  top: 100px;
  left: 0;
}
.test-triangle .top-right {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 20px 20px 0;
  border-color: transparent #990000 transparent transparent;
  top: 120px;
  left: 0;
}
.test-triangle .bottom-right {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #990000 transparent;
  top: 140px;
  left: 0;
}
.test-triangle .bottom-left {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #990000;
  top: 160px;
  left: 0;
}

.test-arrow {
  background-color: #ddd;
  width: 300px;
  margin: 0 auto;
  height: 300px;
  position: relative;
}
.test-arrow:before {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #990000;
  top: 30px;
  left: 100%;
}
.test-arrow:after {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #ddd;
  top: 30px;
  left: 99%;
}
.test-arrow .top {
  position: relative;
}
.test-arrow .top:before {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #990000 transparent;
  top: 19px;
  left: 0;
}
.test-arrow .top:after {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #ddd transparent;
  top: 20px;
  left: 0;
}
.test-arrow .right {
  position: relative;
}
.test-arrow .right:before {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #990000;
  top: 40px;
  left: 0;
}
.test-arrow .right:after {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ddd;
  top: 40px;
  left: -1px;
}
.test-arrow .bottom {
  position: relative;
}
.test-arrow .bottom:before {
  top: 60px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 10px 0 10px;
  border-color: #990000 transparent transparent transparent;
}
.test-arrow .bottom:after {
  top: 59px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 10px 0 10px;
  border-color: #ddd transparent transparent transparent;
}
.test-arrow .left {
  position: relative;
}
.test-arrow .left:before {
  top: 80px;
  left: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 20px 10px 0;
  border-color: transparent #990000 transparent transparent;
}
.test-arrow .left:after {
  top: 80px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 10px 20px 10px 0;
  border-color: transparent #ddd transparent transparent;
}
.test-arrow .top-left {
  position: relative;
}
.test-arrow .top-left:before {
  top: 99px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 20px 0 0;
  border-color: #990000 transparent transparent transparent;
}
.test-arrow .top-left:after {
  top: 100px;
  left: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 20px 0 0;
  border-color: #ddd transparent transparent transparent;
}
.test-arrow .top-right {
  position: relative;
}
.test-arrow .top-right:before {
  top: 119px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 20px 20px 0;
  border-color: transparent #990000 transparent transparent;
}
.test-arrow .top-right:after {
  top: 120px;
  left: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 20px 20px 0;
  border-color: transparent #ddd transparent transparent;
}
.test-arrow .bottom-right {
  position: relative;
}
.test-arrow .bottom-right:before {
  top: 140px;
  left: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #990000 transparent;
}
.test-arrow .bottom-right:after {
  top: 139px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #ddd transparent;
}
.test-arrow .bottom-left {
  position: relative;
}
.test-arrow .bottom-left:before {
  top: 160px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #990000;
}
.test-arrow .bottom-left:after {
  top: 159px;
  left: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  content: '';
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #ddd;
}

.test-forms {
  width: 650px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 60px 0;
}
.test-forms .radio {
  width: 20px;
  height: 20px;
}
.test-forms .radio + label {
  cursor: pointer;
  display: inline-block;
}
.test-forms .radio:not(checked) {
  position: absolute;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.test-forms .radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
}
.test-forms .radio:not(checked) + label:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.test-forms .radio:not(checked) + label:after {
  content: '';
  position: absolute;
  background: #990000;
  left: 7px;
  top: 7px;
  width: 6px;
  height: 6px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.test-forms .radio:checked + label:after {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.test-forms .checkbox {
  width: 20px;
  height: 20px;
}
.test-forms .checkbox + label {
  cursor: pointer;
  display: inline-block;
}
.test-forms .checkbox:not(checked) {
  position: absolute;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.test-forms .checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 30px;
}
.test-forms .checkbox:not(checked) + label:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #000;
}
.test-forms .checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  left: 3.4782608696px;
  top: 2.5px;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%271.0%27%20encoding%3D%27iso-8859-1%27%3F%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2026%2026%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20enable-background%3D%22new%200%200%2026%2026%22%3E%0A%20%20%3Cpath%20d%3D%22m.3%2C14c-0.2-0.2-0.3-0.5-0.3-0.7s0.1-0.5%200.3-0.7l1.4-1.4c0.4-0.4%201-0.4%201.4%2C0l.1%2C.1%205.5%2C5.9c0.2%2C0.2%200.5%2C0.2%200.7%2C0l13.4-13.9h0.1v-8.88178e-16c0.4-0.4%201-0.4%201.4%2C0l1.4%2C1.4c0.4%2C0.4%200.4%2C1%200%2C1.4l0%2C0-16%2C16.6c-0.2%2C0.2-0.4%2C0.3-0.7%2C0.3-0.3%2C0-0.5-0.1-0.7-0.3l-7.8-8.4-.2-.3z%22/%3E%0A%3C/svg%3E%0A");
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opactiy=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.test-forms .checkbox:checked + label:after {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 2.5em;
  font-family: "loraregular";
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  background-color: #990000;
  cursor: default;
  color: #fff;
  -moz-border-radius: 0.365em;
  -webkit-border-radius: 0.365em;
  border-radius: 0.365em;
}
.btn:hover {
  -moz-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
}
.btn:active {
  border-bottom: 3px solid #990000;
}
.btn:visited {
  color: #fff;
}

.testing-float-grid .container {
  background: #f4f4f4;
}
.testing-float-grid .container .row {
  background: #ccc;
}
.testing-float-grid .container .row div {
  background: #fff;
}

.testing-units {
  margin-top: 50px;
}

.unit-btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.75em 2.5em;
  font-family: "loraregular";
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  background-color: #990000;
  cursor: default;
  color: #fff;
  -moz-border-radius: 0.365em;
  -webkit-border-radius: 0.365em;
  border-radius: 0.365em;
}
.unit-btn:hover {
  -moz-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 9px 15px -11px rgba(0, 0, 0, 0.6);
}
.unit-btn:active {
  border-bottom: 3px solid #990000;
}
.unit-btn:visited {
  color: #fff;
}
.unit-btn.big {
  font-size: 2em;
}
.unit-btn.medium {
  font-size: 1.2em;
}
.unit-btn.small {
  font-size: .8em;
}

.unit-item {
  font-size: 16px;
  padding: 0 0 1.6em;
  background: #f4f4f4;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}
.unit-item h1 {
  padding: .5em 1.5rem;
  background: #fff;
  font-size: 2em;
}
.unit-item p {
  margin-top: 1em;
  padding: 0 1.5rem;
  font-size: 1em;
}
.unit-item.small h1 {
  font-size: 1em;
}
.unit-item.small p {
  font-size: 0.875em;
}

.flex-row {
  background: #ddd;
}

.testing-flex-grid .unit-item {
  display: flex;
  flex-direction: column;
}
.testing-flex-grid .unit-item > div {
  margin: auto auto 10px auto;
}

/*# sourceMappingURL=style.css.map */
