$url-font: "../fonts/";
@font-face {
    font-family: 'loraregular';
    src: url('#{$url-font}lora-regular-webfont.eot');
    src: url('#{$url-font}lora-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$url-font}lora-regular-webfont.woff2') format('woff2'),
    url('#{$url-font}lora-regular-webfont.woff') format('woff'),
    url('#{$url-font}lora-regular-webfont.ttf') format('truetype'),
    url('#{$url-font}lora-regular-webfont.svg#loraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

