@mixin prefix($prop, $val, $prefs: ()) {
  @each $pref in $prefs {
    #{'-' + $pref + '-' + $prop}: $val;
  }
  #{$prop}: $val;
}

@mixin box-sizing($border-box: border-box) {
  @include prefix(box-sizing, $border-box, moz webkit);

}

@mixin border-radius($radius) {
  @include prefix(border-radius, $radius, moz webkit);

}

@mixin bg-size($size) {
  @include prefix(background-size, $size, moz webkit o);

}

@mixin box-shadow($string) {
  @include prefix(box-shadow, $string, moz webkit o);

}

@mixin font-smoothing($val: antialiased) {
  @include prefix(font-smoothing, $val, moz webkit o ms)

}

@mixin unselect {
  @include prefix(user-select, none, webkit moz ms khtml);
  -webkit-touch-callout: none;
  @include prefix(text-size-adjust, none, webkit ms);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

@mixin bg-clip($bg-clip) {
  @include prefix(background-clip, $bg-clip, moz webkit)

}

@mixin text-shadow($string) {
  @include prefix(text-shadow, $string, moz webkit o)

}

//one line text
@mixin text-overflow($wspace) {
  overflow: hidden;
  @include prefix(text-overflow, ellipsis, ms o);
  white-space: $wspace;

}

@mixin transition($transition) {
  @include prefix(transition, $transition, moz webkit o ms);

}

@mixin transition-delay($delay) {
  @include prefix(transition-delay, $delay, moz webkit o ms);

}

@mixin scale($num) {
  @include prefix(transform, scale($num), moz webkit o ms);

}

@mixin rotate($num) {
  @include prefix(transform, rotate($num+deg), moz webkit o ms);

}

@mixin opacity($opacity) {
  @include prefix(opacity, $opacity, moz khtml);
  filter: alpha(opactiy=($opacity * 100));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";
}

